<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Remote Agent</h2>
            <h3 class="oe_slogan">Connect to remote systems from Odoo (IoT, etc)</h3>
            <div class="oe_centeralign oe_websiteonly">
                <img src="https://gitlab.com/odooist/remote_agent/-/raw/master/static/description/img/concept.png?inline=false"/>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
    <h4 class="oe_slogan"><b>Features:</b></h4>
    <div class="oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <ul class="list-unstyled">

        <li>
        <i class="fa fa-check-circle-o text-primary"></i>
          Ready to use framework for interconnecting with remote systems.
        </li>

        <li>
        <i class="fa fa-check-circle-o text-primary"></i>
          Uses Odoo bus as a PUB/SUB subsystem.
        </li>

        <i class="fa fa-check-circle-o text-primary"></i>
          JSON-RPC over bus.
        </li>      

        <li>
        <i class="fa fa-check-circle-o text-primary"></i>
          Remote agents monitoring and statistics.
        </li>


        <li>
        <i class="fa fa-check-circle-o text-primary"></i>
          Alarms (agent can fire an alarm and it will show it red in the list)
        </li>

      </ul>
    </div>

    </div>
  </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Support</h2>
        <div class="oe_span12" style="padding:0.3em 0.6em; font-size: 150%;">            
            <h4 class="oe_slogan">Bugs, feature requests</h4 class="oe_slogan">
            <p> For bugs and feature requests please submit issues
                <strong><a href="https://gitlab.com/odooist/remote_agent/issues">here</a></strong>.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Development</h2>
        <div class="oe_span12" style="padding:0.3em 0.6em; font-size: 150%;">            
            <h4 class="oe_slogan">Join and contribute!</h4 class="oe_slogan">
            <p> 
              <span class="fa fa-git-square">&nbsp;</span>The source code repository is located <a href="http://gitlab.com/odooist/remote_agent">here.</a>
            </p>
        </div>
    </div>
</section>
